<!DOCTYPE html>
<html>
	<head>
		<title>IP for <%= @record.host %></title>
	</head>
	<body>
		<h1><%= @record.ip %></h1>
		<p>
			Last report: <%= @record.last_report_at.to_relative %> (<%= @record.last_report_at %>)
		</p>
	</body>
</html>
